# Java class
*.class

# Idea specific
.idea/*
*.iml
target


#Eclipse specific
.classpath
.project
.settings

## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
*.log

## elasticsearch specific
elasticsearch/

# latex specfic
*.aux
_region*
